<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amma.cir2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QuizActivity"></activity>
        <activity android:name=".homeActivity" />
        <activity android:name=".forgotPasswordActivity" />
        <activity android:name=".signUpActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".homeNav"
            android:label="@string/title_activity_home_nav"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProfileNavActivity"
            android:label="@string/title_activity_profile_nav"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AnnouncementNavActivity"
            android:label="@string/title_activity_announcement_nav"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NotificationsNavActivity"
            android:label="@string/title_activity_notifications_nav"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AptitudeQuizNavActivity"
            android:label="@string/title_activity_aptitude_quiz_nav"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FeedbackNavActivity"
            android:label="@string/title_activity_feedback_nav"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AboutUsNavActivity"
            android:label="@string/title_activity_about_us_nav"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>